<div class="container-fluid view-area">
  <div class="row mt-4">
    <div class="col-md-4 m-auto">
      <div class="card">
        <div class="card-header bg-primary text-light">
          Register
        </div>
        <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="form-group">
              <label>First Name (<span class="text-danger">*</span>)</label>
              <input class="form-control" [ngClass]="{'is-invalid': getInvalidCondition('firstName')}"
                formControlName="firstName" placeholder="Your First Name" autocomplete="firstName">
              <div class="invalid-feedback" *ngIf="getInvalidCondition('firstName')">
                {{getErrors('firstName')}}
              </div>
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input class="form-control" [ngClass]="{'is-invalid': getInvalidCondition('lastName')}"
                formControlName="lastName" placeholder="Your Last Name" autocomplete="lastName">
              <div class="invalid-feedback" *ngIf="getInvalidCondition('lastName')">
                {{getErrors('lastName')}}
              </div>
            </div>
            <div class="form-group">
              <label>Email (<span class="text-danger">*</span>)</label>
              <input class="form-control" [ngClass]="{'is-invalid': getInvalidCondition('email')}"
                formControlName="email" placeholder="Your Email" autocomplete="email">
              <div class="invalid-feedback" *ngIf="getInvalidCondition('email')">
                {{getErrors('email')}}
              </div>
            </div>
            <div class="form-group">
              <label>Password (<span class="text-danger">*</span>)</label>
              <input type="password" class="form-control" [ngClass]="{'is-invalid': getInvalidCondition('password')}"
                formControlName="password" placeholder="Password">
              <div class="invalid-feedback" *ngIf="getInvalidCondition('password')">
                {{getErrors('password')}}
              </div>
            </div>
            <div class="form-group">
              <label>Confirm Password (<span class="text-danger">*</span>)</label>
              <input type="text" class="form-control" [ngClass]="{'is-invalid': getInvalidCondition('confirmPassword')}"
                formControlName="confirmPassword" placeholder="Confirm Password">
              <div class="invalid-feedback" *ngIf="getInvalidCondition('confirmPassword')">
                {{getErrors('confirmPassword')}}
              </div>
            </div>
            <div>
              <button type="submit" [disabled]="loader" class="btn btn-primary d-inline-block">
                <app-spinner [show]="loader" size="sm"></app-spinner> Register
              </button>
              <button type="button" [disabled]="loader" [routerLink]="['/']"
                class="btn btn-outline-success d-inline-block ml-1">Already a User ? Login</button>
            </div>
            <div class="invalid-feedback mt-3 d-block" *ngIf="errorMessage">{{errorMessage}}</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>