<ng-container *ngFor="let message of messages; let i=index">
  <span *ngIf="message.datechange && i !== messages.length-1" class="new-day">{{
      message.datechange | date: 'mediumDate' | recentDate
    }}</span>
  <div *ngIf="message.username" (press)="longPress(i, message)" dropdown class="user" [ngClass]="
  {'current-user': message.username === user.username,
  'other-user': message.username !== user.username,
  'resimg': message.image
}">
    <!-- *for desktop -->
    <ng-container *ngIf="!isMobile">
      <fa-icon icon="ellipsis-v" *ngIf="message.username === user.username" class="sticky-more" dropdownToggle
        aria-controls="dropdown-basic" size="xs">
      </fa-icon>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right sticky-menu" role="menu"
        aria-labelledby="button-basic">
        <li role="menuitem" (click)="deleteMessage(message)" class="delete">Delete</li>
      </ul>
    </ng-container>

    <!-- <strong class="d-block" *ngIf="message.username !== user.username">{{
        message.username | uppercase
      }}</strong> -->
    <img *ngIf="message.image" #im (error)="showDefImg(im, message)" (click)="!message.noimg && openModal(template, fileRoot+ message.image)"
      class="prev-image" [src]="fileRoot+ message.image" alt="">
    <!-- need for group chats only -->
    <span *ngIf="message.msg" [innerHTML]="message.msg"></span>
    <span class="message-date">{{
        message.createdAt | date: 'shortTime'
      }}</span>
  </div>
</ng-container>
<app-progress-bar [progress]="progress"></app-progress-bar>

<!-- *for mobile -->
<app-slideup [open]="open" [opts]="opts" (closed)="closeSlideup($event)">
</app-slideup>
<ng-template #template>
  <div class="modal-header">
    <!-- <h4 class="modal-title pull-left">Modal</h4> -->
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img class="zoomed-img" [src]="imgPath" alt="" srcset="">
  </div>
</ng-template>