<div #msgC *ngFor="let message of messages; let i=index">
  <span *ngIf="message.datechange && i !== messages.length-1" class="new-day">{{
      message.datechange | date: 'mediumDate' | recentDate
    }}</span>
  <div *ngIf="message.username" class="contain" [id]="message._id" (press)="longPress(i, message)">
    <div dropdown class="user" [ngClass]="
  {'current-user': message.username === user.username,
  'other-user': message.username !== user.username,
  'resimg': message.image
}">
      <!-- *for desktop -->
      <fa-icon icon="ellipsis-v" *ngIf="message.username === user.username" class="sticky-more" dropdownToggle
        aria-controls="dropdown-basic" size="xs">
      </fa-icon>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right sticky-menu" role="menu"
        aria-labelledby="button-basic">
        <li role="menuitem" (click)="deleteMessage(message)" class="delete">Delete</li>
      </ul>
      <img *ngIf="message.image" (click)="!message.noimg && openModal(template, fileRoot+ message.image)"
        (onStateChange)="onImgErr($event, message)" class="prev-image" [defaultImage]="'/assets/images/notfoundre.png'"
        [lazyLoad]="fileRoot+ message.image">
      <span *ngIf="message.msg" [innerHTML]="message.msg"></span>
      <span class="message-date">{{
        message.createdAt | date: 'shortTime'
      }}</span>
    </div>
  </div>
</div>
<app-progress-bar [progress]="progress"></app-progress-bar>

<!-- *for mobile -->
<app-slideup [open]="open" [opts]="opts" (closed)="closeSlideup($event)">
</app-slideup>
<ng-template #template>
  <div class="modal-header">
    <!-- <h4 class="modal-title pull-left">Modal</h4> -->
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img class="zoomed-img" [src]="imgPath" alt="" srcset="">
  </div>
</ng-template>