<div class="alert alert-primary notif" *ngIf="updateAvailable$ | async" role="alert">
  <span>We have published a new release!</span>
  <div>
    <button class="btn btn-success btn-sm upBtn" (click)="activateUpdate()">
      Activate and reload
    </button>
    <button class="close ml-2" aria-label="Close" (click)="closed$.next()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<!-- open when logged in -->
<div class="alert alert-success notif" role="alert">
  <span>Allow Notifications!</span>
  <div>
    <button class="btn btn-success btn-sm upBtn" (click)="subscribeNotify()">
      Allow
    </button>
    <button class="close ml-2" aria-label="Close" (click)="notify(false, false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
