.send-msg {
  width: 92%;
  margin-left: 4%;
  .form-group {
    margin-bottom: 0.3rem;
    position: relative;
    .btns {
      position: absolute;
      top: 0;
      right: 5px;
      .send-btn {
        padding: 0.375rem 0.4rem;
        color: rgb(7, 104, 184);
      }
      .loc-btn {
        padding: 0.375rem 0.4rem;
        color: rgb(240, 112, 26);
      }
    }
  }
  textarea {
    resize: none;
    border-radius: 30px;
  }
}
