.other-user {
  background: #4f85b5a6;
  box-shadow: -1px 1px 3px 0px #212121;
}
.current-user {
  background: #80808085;
  align-self: flex-end;
  box-shadow: 1px 1px 3px 0px #212121;
}
.current-user,
.other-user {
  white-space: pre-wrap;
  padding: 12px 10px;
  border-radius: 5px;
  display: inline-block;
  width: 25%;
  position: relative;
  margin: 8px 5px;
}
.message-date {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 0.6rem;
  font-weight: 500;
}
.new-day {
  text-align: center;
}
.new-day::before,
.new-day::after {
  content: '';
  height: 1px;
  display: inline-block;
  width: 35%;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0 1%;
  vertical-align: middle;
}
.sticky-more {
  position: absolute;
  // cursor: pointer;
  top: 0;
  padding: 2px 5px;
  right: 3px;
}
.sticky-menu {
  right: 12px !important;
  top: 5px !important;
  .delete {
    color: red;
    padding: 0 8px;
    cursor: pointer;
  }
}

.main {
  display: flex;
  flex-direction: column;
  .heading {
    margin: 10px 0;
    padding: 5px 0;
    border-bottom: 1px solid #21212154;
  }
  .msg-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-size: 14px;
    height: 400px;
  }
}
