.other-user {
  background: #4f85b5a6;
}
.current-user {
  background: #80808085;
  align-self: flex-end;
}
.current-user,
.other-user {
  padding: 20px 20px;
  border-radius: 5px;
  display: inline-block;
  width: 25%;
  position: relative;
  margin: 3px 5px;
}
.scrollable {
  min-height: 470px;
  max-height: 470px;
  overflow: scroll;
}
.message-date {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 0.7rem;
}
.new-day {
  text-align: center;
}
.new-day::before,
.new-day::after {
  content: '';
  height: 1px;
  display: inline-block;
  width: 35%;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0 1%;
  vertical-align: middle;
}
.sticky-more {
  position: absolute;
  // cursor: pointer;
  top: 0;
  padding: 2px 5px;
  right: 3px;
}
.sticky-menu {
  right: 12px !important;
  top: 5px !important;
  .delete {
    color: red;
    padding: 0 8px;
    cursor: pointer;
  }
}
