<div class="main" [ngClass]="notifyOpen ? 'small-chat': null">
  <div *ngIf="title" class="heading">
    <h3 class="d-inline">
      {{title}}
    </h3>
    <span class="badge badge-pill" [ngClass]="status == 'active' ? 'badge-success': 'badge-danger'">{{status}}</span>
    <span class="pl-2 last-seen" *ngIf="status === 'away' && lastSeen">
      <fa-icon icon="eye"></fa-icon> {{lastSeen}}
    </span>
    <ng-container *ngIf="getTypingArr().length > 0">
      <span class="text-success pl-2" *ngIf="!room.directMessage;else dm">{{getTypingArr().join(', ')}} is
        typing...</span>
      <ng-template #dm>
        <span class="text-success pl-2">typing...</span>
      </ng-template>
    </ng-container>

  </div>

  <!-- start message container -->
  <div #scrollbox [scrollTop]="bottom ? scrollbox.scrollHeight : null" appScrollTracker
    (loadOld)="loadOlderMsgs($event)" class="msg-container">
    <span *ngIf="msgLoading">Loading more...</span>

    <app-messages-container [fileRoot]="fileRoot" [progress]="progress" *ngIf="!mobile" [messages]="messages"
      [user]="user" (older)="loadOlderMsgs($event)" (deleteMsg)="deleteMessage($event)">
    </app-messages-container>

    <app-mobile-messages-container [fileRoot]="fileRoot" [progress]="progress" *ngIf="mobile" [messages]="messages"
      [user]="user" (older)="loadOlderMsgs($event)" (deleteMsg)="deleteMessage($event)"></app-mobile-messages-container>
  </div>
  <!-- end message container -->

  <app-send [loading]="loading" (fileUp)="fileUpload($event)" (send)="sendMessage()">
  </app-send>
</div>