.other-user {
  background: #4f85b5a6;
  align-self: flex-start;
  box-shadow: -1px 1px 3px 0px #212121;
}
.current-user {
  background: #77c889;
  align-self: flex-end;
  box-shadow: 1px 1px 3px 0px #212121;
}
.current-user,
.other-user {
  white-space: pre-wrap;
  word-wrap: break-word;
  min-width: 25%;
  max-width: 90%;
  padding: 12px 10px;
  padding-bottom: 20px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  margin: 8px 5px;
}
.message-date {
  position: absolute;
  bottom: 3px;
  right: 5px;
  font-size: 0.6rem;
  font-weight: 500;
}
.new-day {
  text-align: center;
}
.new-day::before,
.new-day::after {
  content: '';
  height: 1px;
  display: inline-block;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 1%;
  vertical-align: middle;
}
.sticky-more {
  position: absolute;
  top: -3px;
  padding: 2px 5px;
  right: 1px;
}
.sticky-menu {
  right: 10px !important;
  top: 2px !important;
  .delete {
    color: red;
    padding: 0 8px;
    cursor: pointer;
  }
}

.main {
  display: flex;
  flex-direction: column;
  height: 91vh;
  min-height: 91vh;
  .heading {
    margin-bottom: 10px;
    padding: 5px 0;
    border-bottom: 1px solid #21212154;
    h3{font-size: 1.5em}
  }
  .msg-container {
    display: flex;
    min-height: 72%;
    flex-direction: column;
    overflow-y: auto;
    font-size: 14px;
  }
}
.small-chat {
  height: 84vh;
  min-height: 84vh;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
