.wrap-btn {
    .btn-danger{width: 100%;color: #fff;border-radius: 30px;}
        .btn-signup{width: 100%;border-radius: 30px;background: rgb(1, 153, 202);
            color: #fff;border-color:rgb(1, 153, 202); }
    }