<ng-container *ngFor="let message of messages; let i=index">
  <span *ngIf="message.datechange && i !== messages.length-1" class="new-day">{{
      message.datechange | date: 'mediumDate' | recentDate
    }}</span>
  <div *ngIf="message.username" (press)="longPress(i, message)" [ngClass]="
        message.username === user.username ? 'current-user' : 'other-user'
      ">
    <!-- need for group chats only -->
    <span [innerHTML]="message.msg"></span>
    <span class="message-date">{{
        message.createdAt | date: 'shortTime'
      }}</span>
  </div>
</ng-container>
<app-slideup [@slideInOutAnimation]="open" [opts]="opts" [open]="open" (closed)="closeSlideup($event)">
</app-slideup>
