<ng-container *ngFor="let message of messages; let i=index">
  <span *ngIf="message.datechange && i !== messages.length-1" class="new-day">{{
      message.datechange | date: 'mediumDate' | recentDate
    }}</span>
  <div *ngIf="message.username" (press)="longPress(i, message)" [ngClass]="
  {'current-user': message.username === user.username,
  'other-user': message.username !== user.username,
  'resimg': message.image
}">
    <img *ngIf="message.image && message.image.startsWith('data:')" class="prev-image" src="{{message.image}}" alt="">
    <span *ngIf="message.msg" [innerHTML]="message.msg"></span>
    <span class="message-date">{{
        message.createdAt | date: 'shortTime'
      }}</span>
  </div>
</ng-container>
<div class="progress form-group" *ngIf="progress > 0">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
  </div>
</div>
<app-slideup [@slideInOutAnimation]="open" [opts]="opts" [open]="open" (closed)="closeSlideup($event)">
</app-slideup>
