.resimg-mob {
  // min-height: 150px;
  max-width: 50%;
  padding: 0;
}
.prev-image {
  padding: 0.25rem;
  border-radius: 0.25rem;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 160px;
  width: 250px;
}
