.right-unav {
  display: flex;
  align-items: center;
  .point {
    cursor: pointer;
  }
}
.light-bg{background-color: #444564;}
.light-bg .navbar-brand {
  color: #dee2e6;
}
.ng-fa-icon{color: #fff;}
