<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">Angular Socket</a>
  <div *ngIf="search" @slidelrAnimation class="full-wide">
    <app-autocomplete [dropList]="userListNew" (selectedOption)="joinRoom($event)"
      (getListAsync)="searchUserNew($event)">
    </app-autocomplete>
    <fa-icon icon="times" id="close" (click)="search = false"></fa-icon>
  </div>
  <ng-container *ngIf="chatService.isLoggedIn">
    <div class="right-unav">
      <div class="search-box">
        <fa-icon icon="search" class="fa-lg" (click)="search = true"></fa-icon>
      </div>
      <div class="btn-group" dropdown>
        <fa-icon icon="ellipsis-h" id="button-basic" dropdownToggle aria-controls="dropdown-basic">
        </fa-icon>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
          aria-labelledby="button-basic">
          <li role="menuitem">
            <a class="dropdown-item" routerLink="/user/update-profile">
              <fa-icon icon="user-circle" class="fa-lg"></fa-icon> {{chatService.getUserInfo().username}}
            </a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <button style="color: red;" class="dropdown-item" (click)="logout()">
              <fa-icon icon="sign-out-alt"></fa-icon>
              Logout
            </button>
          </li>
        </ul>
      </div>
      <!-- </div> -->
    </div>
  </ng-container>
  <!-- <a *ngIf="!prod" routerLink='/test' class="btn btn-primary">Test</a> -->
</nav>