.test {
  list-style-type: none;
  display: flex;
  padding: 0;
  max-height: 60vh;
  overflow-x: hidden;
  flex-direction: column;
  li {
    border-radius: 5px;
    margin: 5px 0;
    div {
      padding: 5px;
      background-color: cadetblue;
    }
  }
}

.delete {
  background-color: red;
}

.archive {
  background-color: green;
}
