<!--The content below is only a placeholder and can be replaced.-->
  <h1>
    Chat Box
  </h1>
  <div>
    <p *ngFor="let message of messages">
      <strong>{{message.username}}</strong><br>
      <span [innerHTML]="message.msg"></span>
    </p>
  </div>
  <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
    <input formControlName="message" type="text" autofocus placeholder="Enter message">
    <button [disabled]="loading">Send</button>
    <button [disabled]="loading" type="button" (click)="sendLocation()">Share Location</button>
  </form>
