.joinbox {
  -webkit-box-shadow: 3px 4px 15px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 15px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 15px -2px rgba(0, 0, 0, 0.75);
  padding: 30px 20px;
  background: #85dbf5;
  .form-control:focus {
    border-color: none;
    box-shadow: none;
  }
}

.recent-container {
  margin: 5px 0;
}
.recent-contact {
  padding: 5px 10px;
  border-radius: 5px;
  background: rgba(41, 191, 236, 0.15);
  border: 1px solid #29bfec;
  &:hover {
    background-color: rgba(41, 191, 236, 0.34);
    cursor: pointer;
  }
  &:focus,
  &:active {
    background-color: #29bfec;
  }
}

.stick-search,
.stick-loader {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 7px 10px;
}

.stick-loader {
  margin: 10px 10px;
}

::ng-deep .dropdown-menu {
  min-width: 100% !important;
  top: -2px !important;
  padding: 0.5rem;
  margin: 0 !important;
  .dropdown-item {
    padding: 0.25rem 1rem;
    p {
      margin: 0;
    }
  }
  .dropdown-item.active,
  .dropdown-item:active {
    color: #000;
    background-color: rgba(0, 0, 0, 0.04);
  }
}

::ng-deep typeahead-container {
  top: -2px !important;
  padding: 0.5rem;
  width: 100% !important;
  margin: 0 !important;
}
