<alert type="danger" [isOpen]="error" [dismissOnTimeout]="errTimeout">
  <span [innerHtml]="errMsg"></span>
</alert>
<div class="row">
  <div class="col-md-6 mx-auto mt-5 joinbox">
    <h2>Join Chat</h2>
    <p>Hi <strong>{{username}}</strong>!</p>
    <ng-template #usersTemp let-model="item" let-index="index">
      <p>{{model.fullName}} (username: {{model.username}})</p>
    </ng-template>
    <div class="form-group">
      <label for="user">Search for Users</label>
      <div class="position-relative">
        <input [(ngModel)]="userinput" typeaheadWaitMs="600" [typeaheadIsFirstItemActive]="false"
          [typeaheadAsync]="true" (typeaheadOnSelect)="joinRoom($event.item)" [typeahead]="usersList"
          [typeaheadItemTemplate]="usersTemp" [typeaheadMinLength]="3" [adaptivePosition]="true"
          (typeaheadLoading)="loader = $event" typeaheadOptionField="fullName" class="form-control">
        <fa-icon icon="search" *ngIf="!loader" class="stick-search"></fa-icon>
        <span class="spinner-border spinner-border-sm stick-loader" *ngIf="loader" role="status">
          <span class="sr-only">Loading...</span>
        </span>
      </div>
    </div>
    <div class="row" *ngIf="recentContacts && recentContacts.length">
      <div class="col-md-12">
        <h5>Recent Chats</h5>
      </div>
      <div class="col-md-6 recent-container noselect" *ngFor="let contact of recentContacts">
        <div class="recent-contact" (click)="openChat(contact)"><strong>
            <ng-container *ngIf="contact.directMessage; else Room">
              {{contact.members[0]}}
            </ng-container>
            <ng-template #Room>
              {{contact.roomName}}
            </ng-template>
          </strong>
        </div>
      </div>
    </div>
  </div>
</div>
