<alert type="danger" [isOpen]="error" [dismissOnTimeout]="errTimeout">
  <span [innerHtml]="errMsg"></span>
</alert>
<div class="row">
  <div class="col-md-6 mx-auto mt-2 joinbox">

    <div class="row" *ngIf="fetchRecent">
      <div class="col-md-12 text-center">
        <app-spinner [show]="fetchRecent"></app-spinner>
      </div>
    </div>

    <div class="row" *ngIf="recentContacts.length > 0; else nomsg">
      <div class="col-md-12 recent-container noselect" *ngFor="let contact of recentContacts; let i=index">
        <div class="recent-contact" (swipeleft)="archiveConv($event)" (swiperight)="deleteConv(i)"
          (click)="openChat(contact)">
          <div class="top d-flex justify-content-between">
            <strong>
              <ng-container *ngIf="contact.directMessage; else Room">
                {{contact.members[0]}}
              </ng-container>
              <ng-template #Room>
                {{contact.roomName}}
              </ng-template>
            </strong>
            <p class="date" *ngIf="contact.messages.length > 0">
              {{contact.messages[contact.messages.length-1].createdAt | recentDate: true}}</p>
          </div>
          <div *ngIf="contact.messages.length > 0">
            <ng-container *ngIf="byMe(contact.messages[contact.messages.length-1]); else otherUs">
              <fa-icon [style.color]="'#696868'" icon="arrow-right" class="fa-sm"></fa-icon>
            </ng-container>
            <ng-template #otherUs>
              <fa-icon [style.color]="'#1976d2'" icon="arrow-left" class="fa-sm"></fa-icon>
            </ng-template>
            {{ lastMsg(contact.messages) }}
          </div>
        </div>
      </div>
    </div>
    <ng-template #nomsg>
      No recent chats found
    </ng-template>

  </div>
</div>