<div class="container-fluid view-area">
  <div class="row mt-4">
    <div class="m-auto">
      <div class="card">
        <div class="card-header bg-primary text-light">
          Verify Your Account
        </div>
        <div class="card-body">
          <div class="text-success d-block" *ngIf="successMsg">{{successMsg}}</div>
          <form [formGroup]="verifyForm" (ngSubmit)="verifyOtp()">
            <div class="form-group">
              <label>Enter OTP</label>
              <input class="form-control" [ngClass]="{'is-invalid': getInvalidCondition('otp')}" formControlName="otp"
                placeholder="e.g. 123456" autocomplete="otp">
              <div class="invalid-feedback" *ngIf="getInvalidCondition('otp')">
                {{getErrors('otp')}}
              </div>
            </div>
            <div>
              <app-spinner [show]="loader" block="true"></app-spinner>
              <button type="submit" [disabled]="!otpSent" class="btn btn-primary d-inline-block">Verify</button>
              <button type="button" #resendButton class="btn btn-outline-success float-right" [disabled]="!isResend"
                (click)="sendOtp()">Resend
                <ng-container *ngIf="resendTime !== null">
                  in {{resendTime | date: 'mm:ss'}}
                </ng-container>
              </button>
            </div>
            <div class="invalid-feedback mt-3 d-block" *ngIf="errorMessage">{{errorMessage}}</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>