<div class="container-fluid view-area">
  <div class="row mt-4">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-sm-10 offset-sm-1">
      <div class="card mx-auto w-75">
        <div class="card-header bg-primary text-light">
          Verify Your Account
        </div>
        <div class="card-body">
          <div class="text-success d-block" *ngIf="successMsg">{{successMsg}}</div>
          <form [formGroup]="verifyForm" (ngSubmit)="verifyOtp()">
            <div class="form-group">
              <label>Enter OTP</label>
              <input class="form-control" [ngClass]="{'is-invalid': getInvalidCondition('otp')}"
                formControlName="otp" placeholder="e.g. 123456" autocomplete="otp">
              <div class="invalid-feedback" *ngIf="getInvalidCondition('otp')">
                {{getErrors('otp')}}
              </div>
            </div>
            <div>
              <div class="spinner-border text-primary" *ngIf="loader" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <button type="submit" [disabled]="!otpSent" *ngIf="!loader" class="btn btn-primary d-inline-block">Verify</button>
              <button #resendButton class="btn btn-outline-success float-right" *ngIf="otpSent" [disabled]="!isResend" (click)="resendOtp()">Resend in {{resendTime | date: 'mm:ss'}}</button>
            </div>
            <div class="invalid-feedback mt-3 d-block" *ngIf="errorMessage">{{errorMessage}}</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
