<div class="container-fluid view-area">
  <div class="row mt-4">
    <div class="col-md-6 m-auto">
      <div class="card">
        <div class="card-header bg-primary text-light">
          Forgot Password
        </div>
        <div class="card-body">
          <form [formGroup]="forgotForm" (ngSubmit)="sendMail()">
            <div class="form-group">
              <label>Email</label>
              <input class="form-control" [ngClass]="{'is-invalid': isInvalid('email')}" formControlName="email"
                placeholder="Your Login Email" autocomplete="email">
              <div class="invalid-feedback" *ngIf="isInvalid('email')">
                {{getErrors('email')}}
              </div>
            </div>
            <div>
              <button type="submit" [disabled]="loader" class="btn btn-primary d-inline-block">
                <app-spinner [show]="loader" size="sm"></app-spinner>
                Submit
              </button>
            </div>
            <div class="invalid-feedback mt-3 d-block" *ngIf="errorMessage">{{errorMessage}}</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>